html {
  font-size: 62.5%;
}

body {
  background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?cs=srgb&dl=pexels-adrien-olichon-2387793.jpg&fm=jpg);
  background-size: auto;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Prompt", sans-serif;
}

.container-principal {
  display: flex;
  height: 100vh;
}

.container {
  width: 50%;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal-esquerda {
  padding: 8rem;
}

.principal-logo {
  font-size: 6rem;
  color: F26804;
}

.principal-titulo {
  color: #d1d1d1;
  font-size: 3rem;
}

.principal-texto {
  color: #d1d1d1;
  margin: 3rem 0;
  font-weight: 400;
}

.botao {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  height: 6rem;
  cursor: pointer;
  color: #f26804;
  background-color: #1c1c1c;
}

.container-botao {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.principal-direita {
  background-color: #d1d1d1;
  max-width: 60rem;
  /* tamanho máximo */
  overflow: hidden;
}

.card-topo {
  color: #f26804;
  background-color: #1c1c1c;
  height: 25rem;
}

.card-titulo {
  font-size: 2.5rem;
  font-weight: 700;
}

.card-conteudo {
  color: #f26804;
  padding: 3rem 1.5rem;
  min-height: 14rem;
}

.principal-direita,
.botao {
  border-radius: 2rem;
}

.pergunta-resposta {
  filter: blur(5px);
}
